<h2>Add a New Movie To the Database</h2>

<form action="/movies/creation" method="POST" enctype="multipart/form-data">

<div>
<label>Title</label>
<input type="text" name="title">
</div>

<div>
<label>Genre</label>
<input type="text" name="genre">
</div>

<div>
<label>Duration</label>
<input type="text" name="duration">
</div>

<div>
<label>Description</label>
<input type="text" name="description">
</div>

<div>
<label>Year</label>
<input type="text" name="year">
</div>

<div>
<label>Language</label>
<input type="text" name="language">
</div>

<div>
<label>Rating</label>
<input type="text" name="rating">
</div>

<div>
<label>Image</label>
<input type="file" name="image-filename">
</div>

<div>
<label>Movie File</label>
<input type="text" name="movie-filename">
</div>

<div>
<label>Cast (Enter Cast and Crew ??)</label>
<input type="text" name="cast-and-crew">
</div>

<button>Save</button>

</form>
