

 <form action="/movies/moviefile-upload" method="POST" enctype="multipart/form-data" > 
  <div class="form-group">
  <label for="exampleInputFile">File input</label>
  <input type="file" id="exampleInputFile" name="video-file">
  <p class="help-block">You can upload the movie here.</p>
  <button class="btn btn-lg btn-primary btn-block">Submit</button>
</div>
</form>