<h1> Title:
{{theMovie.title}}
</h1>

<video width="320" height="240" controls>
  <source src="{{theMovie.movieFile}}" type="video/mp4">
</video>

<img src="{{theMovie.image}}" alt="" style="width: 300px">

<h1>
Genre: {{theMovie.genre}}
</h1>
